.card1 {
    border-top: 5px solid #ff4f64;
  }
  
  .card2 {
    border-top: 5px solid #00a8e7;
  }
  
  .card3 {
    border-top: 5px solid #44c4a1;
  }
  
  .card4 {
    border-top: 5px solid #fcc200;
  }